---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/react/Navbar";
import Hero from "../components/astro/sections/Hero.astro";
import Services from "../components/astro/sections/Services.astro";
import Strengths from "../components/astro/sections/Strengths.astro";
import Products from "../components/astro/sections/Products.astro";
import Workflow from "../components/astro/sections/Workflow.astro";
import TechStack from "../components/astro/sections/TechStack.astro";
import Recruit from "../components/astro/sections/Recruit.astro";
import FAQ from "../components/astro/sections/FAQ.astro";
import About from "../components/astro/sections/About.astro";
import Contact from "../components/astro/sections/Contact.astro";
import Footer from "../layouts/Footer.astro";
import "../styles/globals.css";
---

<Layout title="株式会社テクシズ | TECSIZ Co., Ltd.">
    <Navbar client:load />
    <main>
        <Hero />
        <Services />
        <Strengths />
        <Products />
        <Workflow />
        <TechStack />
        <Recruit />
        <FAQ />
        <About />
        <Contact />
    </main>
    <Footer />
</Layout>
