---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/react/Navbar";
import Hero from "./_components/Hero.astro";
import Services from "./_components/Services.astro";
import Workflow from "./_components/Workflow.astro";
import AiOcr from "./_components/AiOcr.astro";
import TechStack from "./_components/TechStack.astro";
import FAQ from "./_components/FAQ.astro";
import Contact from "./_components/Contact.astro";
import Footer from "../layouts/Footer.astro";
import "../styles/globals.css";
---

<Layout title="株式会社テクシズ | TECSIZ Co., Ltd.">
    <Navbar client:load />
    <main>
        <Hero />
        <Services />
        <Workflow />
        <AiOcr />
        <FAQ />
        <TechStack />
        <Contact />
    </main>
    <Footer />
</Layout>
