---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/react/Navbar";
import ProductsSection from "../components/astro/sections/Products.astro";
import Contact from "../components/astro/sections/Contact.astro";
import Footer from "../layouts/Footer.astro";
import "../styles/globals.css";
---

<Layout title="ソリューション | 株式会社テクシズ">
    <Navbar client:load />
    <main style="padding-top: 80px;">
        <ProductsSection />
        <Contact />
    </main>
    <Footer />
</Layout>
