---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/react/Navbar";
import Contact from "../_components/Contact.astro";
import Footer from "../../layouts/Footer.astro";
import "../../styles/globals.css";
import AboutSection from "./_components/About.astro";
---

<Layout title="会社概要 | 株式会社テクシズ">
    <Navbar client:load />
    <main>
        <AboutSection />
        <Contact />
    </main>
    <Footer />
</Layout>
